

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1574097552021-0 {top: 40px; left: 40px; height: 100px; width: 480px;
        }
        .silex-id-1574097692428-3 {top: 180px; left: 40px; height: 60px; width: 240px;
        }
        .silex-id-1574097673757-1 {top: 180px; left: 320px; height: 1.4em; width: 100px;
        }
        .silex-id-1574097782878-4 {top: 280px; left: 40px; height: 40px; width: 240px;
        }
        .silex-id-1574097874424-7 {top: 360px; left: 320px; height: 1.4em; width: 100px;
        }
        .silex-id-1574097895360-8 {top: 360px; left: 40px; height: 60px; width: 240px;
        }
        .silex-id-1574097844559-6 {top: 280px; left: 320px; height: 1.4em; width: 100px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 855px;
        }
        .silex-id-1574098070416-9 {top: 580px; left: 40px; height: 140px; width: 480px;
        }
        .silex-id-1574098767728-15 {top: 440px; left: 140px; height: 40px; width: 40px;
        }
        .silex-id-1574098997777-16 {top: 520px; left: 140px; height: 40px; width: 40px;
        }
        .silex-id-1574098479696-12 {top: 500px; left: 100px; height: 1px; width: 120px; background-color: rgb(255, 255, 255); border-width: 5px 0px 0px; border-style: solid;
        }
        .silex-id-1574099040914-17 {top: 480px; left: 40px; height: 20px; width: 40px;
        }
        .silex-id-1574099087072-18 {top: 480px; left: 320px; height: 20px; width: 100px;
        }
    