

        .background-initial {background-color: transparent; top: -40px; left: 140px; width: 560px; height: 600px; background-size: auto; background-position: 0% 0%; background-repeat: repeat;
        }
        .silex-id-1572143445201-11 > button {border-radius: 7px; background-color: rgb(255, 255, 255);
        }
        .silex-id-1572143447887-12 {top: 360px; left: 100px; height: 160px; width: 380px; display: flex;
        }
        .silex-id-1572148530988-1 {top: 460px; left: 20px; height: 64px; width: 64px;
        }
        .silex-id-1572143445201-11 {top: 360px; left: 20px; height: 64px; width: 64px;
        }
        .silex-id-1573252742143-1 {top: 220px; left: 180px; height: 60px; width: 160px; background-color: rgb(255, 255, 255); font-size: 32px;
        }
        .silex-id-1573252742143-1 > input {text-align: center;
        }
        .body-initial {background-color: rgb(170, 170, 170); width: 200px; height: 200px; font-family: "Arial Black", "Arial Black", Gadget, sans-serif; font-weight: normal; background-image: url("Futsal.jpg"); background-size: auto; background-position: 0% 0%; background-repeat: repeat;
        }
        .silex-id-1572213890361-0 {top: 20px; left: 60px; height: 160px; width: 400px; text-align: center; font-weight: normal; font-family: "Arial Black", "Arial Black", Gadget, sans-serif; background-color: rgb(255, 255, 255);
        }
    