

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1573665727949-2 {top: 20px; left: 140px; height: 40px; width: 240px; text-align: center;
        }
        .silex-id-1573665702300-1 {top: 80px; left: 40px; height: 280px; width: 460px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 546px; height: 855px;
        }
        .silex-id-1573670500670-12 {top: 640px; left: 40px; height: 80px; width: 280px;
        }
        .silex-id-1573669847021-11 {top: 560px; left: 40px; height: 40px; width: 280px;
        }
        .silex-id-1573670508148-13 {top: 640px; left: 340px; height: 1.4em; width: 100px;
        }
        .silex-id-1573669842941-10 {top: 560px; left: 340px; height: 20px; width: 100px;
        }
        .silex-id-1573665840272-3 {top: 760px; left: 340px; height: 20px; width: 100px;
        }
        .silex-id-1573665864540-5 {top: 760px; left: 40px; height: 40px; width: 80px;
        }
        .silex-id-1574045714742-1 {top: 400px; left: 200px; height: 64px; width: 64px;
        }
    